<h1>Aspera Node Test</h1>
<%- if @items %>
  <table>
    <thead>
        <th>Path</th>
        <th>Basename</th>
        <th>Size</th>
        <th>Modified Time</th>
        <th>Download</th>
    </thead>
    <tbody>
    <%- @items.each do |file| %>
      <tr class='download-file'>
        <td class='file'><%= file['path'] %></td>
        <td><%= file['basename'] %></td>
        <td><%= file['size'] %></td>
        <td><%= file['mtime'] %></td>
        <td><%= link_to 'Download File', '#', class: 'btn btn-success download-btn' %></td>
      </tr>
    <%- end %>
    </tbody>
  </table>
<%- else %>
  <p>No files found.</p>
<%- end %>
