<!DOCTYPE html>
<html>
<head>
  <title>AsperaNodeapiTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://d3gcli72yxqn2z.cloudfront.net/connect/v4/connectinstaller-4.min.js' %>
  <%= javascript_include_tag 'https://d3gcli72yxqn2z.cloudfront.net/connect/v4/asperaweb-4.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
